body {
    background: rgb(154,198,255);
    background: -webkit-radial-gradient(bottom, circle, rgba(76, 240, 191, 0.493) 0%, #006fff 90%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .panel {
        border-radius: 0.3rem;
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        background-color: white;
        color: blue;
        height: 380px;
    }  
    
    
    .flip-card {
        background-color: transparent;
        width: 100%;
        height: 380px;
       
        /*perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        
    
    
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: dodgerblue;
        color: black;
        padding: 10px;
        border:  5px outset rgb(255, 255, 255);
        display: flex;
            width: 100%;
            height: 380px;
            margin: auto;
            border-radius: 15px;
            align-items:center;
            justify-content:center;
    
            background: rgb(154,198,255);
    background: -webkit-radial-gradient(circle, rgba(76, 240, 191, 0.493) 0%, #006fff 99%);
    
    
      }
      
    
    
    
      /* Style the back side */
      .flip-card-back {
        background-color: rgb(191, 188, 212);
        color: white;
        transform: rotateY(180deg);
        border:  5px outset white;
        display: flex;
            width: 100%;
            height: 380px;
            margin: auto;
            border-radius: 15px;
            align-items:center;
            justify-content:center;
    
      }
    
    
    .header-background {
        background-color: #006fff; 
    }
    
    .flip-front{
        font-family: 'Fugaz One';
        font-size: xx-large;
    
    
    }
    
    
    .mynav{
        border:3px solid rgb(255, 255, 255);
        border-left: none;
        border-right: none;
        font-family: 'Fugaz One', cursive;
        font-size: large;
        color: rgb(255, 255, 255);
        
    }
    
    a {
        color:rgb(255, 255, 255);
    }
    h1{
        color: rgb(255, 255, 255);
    }
    
    a:hover {
        color: white;
        transform: scale(1.05);
    }
    img:hover {
        transform: scale(1.01);
    }
    
    .header-pic {
        max-width: 100%;
        max-height:  5em;;
        vertical-align: bottom;
    }
    
    
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
    }
    
    
    .nav-button {
        background-color: #ffcc25; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .nav-item {
        background: linear-gradient(0deg, #ffd900, #ff3c01); 
    }
    
    .nav-item:hover {
        color: white;
        background: linear-gradient(0deg, #00fff2c5, #0e1097d0); 
    }
    
    .bottomfa:hover{
        font-size:2em;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #ffffff;
        transition: 0.25s ease-out;
      }
    
    
    
    .bottomfa:focus{
        font-size:2em;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        transition: 0.25s ease-out;
    }
    
    .bottomfa {
        font-size:1.5em;
        line-height: 1em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .gradient-text {
        background-color: #fff200;
        background-image: linear-gradient(180deg, #fff200, #f80000);
        background-size: 100%;
    
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
    
    /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
    .img {
        max-height: 100%;
        max-width:100%;
    }